name: "Analyze"
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths-ignore:
      - "**/*.md"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  analyze:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v2

      - name: JDK setup
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin

      - name: Analyze
        run:
          ./gradlew apiCheck detekt spotlessCheck