# Disable for now until we bump the kotlin version

#name: Generate Dokka
#
#on:
#  release:
#    types: [released]
#
## Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
#permissions:
#  contents: read
#  pages: write
#  id-token: write
#
#jobs:
#  generate-dokka:
#    runs-on: ubuntu-latest
#    environment:
#      name: github-pages
#      url: ${{ steps.deployment.outputs.page_url }}
#    steps:
#      - name: Checkout
#        uses: actions/checkout@34e114876b0b11c390a56381ad16ebd13914f8d5 # v2
#
#      - name: set up JDK 11
#        uses: actions/setup-java@v4
#        with:
#          distribution: "adopt"
#          java-version: "11"
#
#      - name: Cache Gradle packages
#        uses: actions/cache@v4
#        with:
#          path: |
#            ~/.gradle/caches
#            ~/.gradle/wrapper
#          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
#          restore-keys: |
#            ${{ runner.os }}-gradle-
#
#      - name: Setup Pages
#        uses: actions/configure-pages@v5
#
#      - name: Generate docs with dokka
#        run: make generateDokka
#
#      - name: Upload artifact
#        uses: actions/upload-pages-artifact@v3
#        with:
#          path: ${{ github.workspace }}/build/dokka/htmlMultiModule
#
#      - name: Deploy to GitHub Pages
#        id: deployment
#        uses: actions/deploy-pages@v1