name: "Plugin: sentry-kotlin-multiplatform"
on:
  push:
    branches:
      - main
      - release/**
  pull_request:
    paths:
      - '.github/workflows/kotlin-multiplatform-gradle-plugin.yml'
      - 'sentry-kotlin-multiplatform-gradle-plugin/**'
      - 'sentry-samples/**'
      - 'buildSrc/src/'
      - '!**/*.md'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    runs-on: macos-latest-xlarge
    defaults:
      run:
        working-directory: sentry-kotlin-multiplatform-gradle-plugin

    steps:
      - uses: actions/checkout@v6

      - name: JDK setup
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin

      - name: Cached Konan
        uses: actions/cache@v4
        with:
          path: ~/.konan
          key: ${{ runner.os }}-konan-${{ hashFiles('**/*.gradle*') }}-${{ hashFiles('**/gradle/wrapper/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-konan-

      - name: Cached Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1

      - name: Build
        run: |
          ./gradlew build
          ./gradlew koverXmlReport

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@671740ac38dd9b0130fbe1cec585b89eea48d3de # pin@v4
        with:
          name: sentry-kotlin-multiplatform-gradle-plugin
          token: ${{ secrets.CODECOV_TOKEN }}
