name: Update Dependencies

on:
  schedule:
    - cron: '0 3 * * *'
  push:
    branches: [main]
  pull_request: # temporary until we merge the PR

jobs:
  cocoa:
    runs-on: macos-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: scripts/update-cocoa.sh
          name: Cocoa SDK
          api-token: ${{ secrets.CI_DEPLOY_KEY }}

  java:
    runs-on: ubuntu-latest
    steps:
      - uses: getsentry/github-workflows/updater@v3
        with:
          path: scripts/update-java.sh
          name: Java SDK
          api-token: ${{ secrets.CI_DEPLOY_KEY }}
