name: Update Dependencies

on:
  # Run every day.
  schedule:
    - cron: '0 3 * * *'
  # And on on every PR merge so we get the updated dependencies ASAP, and to make sure the changelog doesn't conflict.gi
  push:
    branches:
      - '*'
  pull_request:
    types:
      - synchronize

jobs:
  cocoa:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v1
    with:
      path: scripts/update-cocoa.sh
      name: Cocoa SDK
    secrets:
      # If a custom token is used instead, a CI would be triggered on a created PR.
      api_token: ${{ secrets.CI_DEPLOY_KEY }}

  java:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v1
    with:
      path: scripts/update-java.sh
      name: Java SDK
    secrets:
      # If a custom token is used instead, a CI would be triggered on a created PR.
      api_token: ${{ secrets.CI_DEPLOY_KEY }}
