name: Update Dependencies

on:
  schedule:
    - cron: '0 3 * * *'
  push:
    branches:
      - main


permissions:
  contents: write
  pull-requests: write
jobs:
  cocoa:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      path: scripts/update-cocoa.sh
      name: Cocoa SDK
      runs-on: macos-latest
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}

  java:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      path: scripts/update-java.sh
      name: Java SDK
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}
