name: Update Dependencies

on:
  schedule:
    - cron: '0 3 * * *'
  push:
    branches:
      - main
  pull_request: # temporary until we merge the PR

jobs:
  cocoa:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      path: scripts/update-cocoa.sh
      name: Cocoa SDK
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}

  java:
    uses: getsentry/github-workflows/.github/workflows/updater.yml@v2
    with:
      path: scripts/update-java.sh
      name: Java SDK
    secrets:
      api-token: ${{ secrets.CI_DEPLOY_KEY }}
