name: "Generate and upload distributions"
on:
  push:
    branches:
      - release/**

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  archive-distribution:
    runs-on: macos-latest-xlarge

    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6 # v6 # v2

      - name: JDK setup
        uses: actions/setup-java@v5
        with:
          java-version: 17
          distribution: temurin

      - name: Cached Gradle
        uses: gradle/gradle-build-action@ac2d340dc04d9e1113182899e983b5400c17cda1

      - name: DistZip libraries
        run: |
          ./gradlew distZip

      - name: DistZip plugin
        run: |
          cd sentry-kotlin-multiplatform-gradle-plugin
          ./gradlew distZip sentryPluginMarkerDistZip

      - name: Validate distributions
        run: |
          ./gradlew validateDistributions

      - name: Archive packages
        uses: actions/upload-artifact@v5
        with:
          name: ${{ github.sha }}
          if-no-files-found: error
          path: |
            ./*/build/distributions/*.zip
